.drag-n-drop{
  min-height: 20em;
  background-color: #fff;
  border: .5em #dadada solid;
  border-radius: 1em;
}

.cloud-color{
  color: darkorange;
}

.hide-input{
  display: none;
}

.orange-btn{
  background-color: orange !important;
  border: 1px solid orange;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid orange;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 